.postlink.ogplink {
    display: block;
    border: 0;
    color: #000;
}
.ogpblock {
    background: rgba(255, 255, 255, .3);
    border: 1px solid #ccc;
    padding: 10px;
    height: auto;
    float: left;
    width: calc(100% - 22px);
    margin: 10px auto;
}
.ogpblock img {
    float: left;
    max-width: calc(100% - 10px);
}
.ogptext {
    float: left;
    margin-left: 10px;
}
.ogpblock h4 {
    font-size: 1.4em;
}