.postlink.ogplink {
    display: block;
    border: 0;
    color: #000;
}
.ogpblock {
    background: rgba(255, 255, 255, .3);
    border: 1px solid #ccc;
    padding: 10px;
    height: auto;
    float: left;
    width: calc(100% - 22px);
    margin: 10px auto;
}
.ogpblock img {
    float: left;
    width: 150px;
    max-width: calc(100% - 10px);
    padding-top: 0;
}
.ogptext {
    float: left;
    margin-left: 10px;
    width: calc(100% - 180px);
}
.ogpblock h4 {
    font-size: 1.4em;
}

@media (max-width: 700px) {
    .ogpblock img ,
    .ogptext {
        float: none;
        width: 100%;
    }
}